.container{
  margin-top: 20px;
  text-align: center;
}

table{
  margin: auto;
}

button{
  background: rgb(128, 128, 128);
  border: 5px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
